
<style>
    #page1 { 
        display: none;
    }
    #page1:target { 
        display: block
        width: 100%;
    }
    #page2 { 
        display: none;
    }
    #page2:target { 
        display: block;
    }
    #page3 { 
        display: none;
    }
    #page3:target { 
        display: block;
    }
    #page4 { 
        display: none;
    }
    #page4:target { 
        display: block;
    }
   #page5 { 
        display: none;
    }
    #page5:target { 
        display: block;
    }
    iframe {
    width: 100%;
}
</style>
