
<style>
    #page1 { 
        display: none;
    }
    #page1:target { 
        display: block;
    }
    #page2 { 
        display: none;
    }
    #page2:target { 
        display: block;
    }
</style>
